#phone-window {
    height:597px;
    width:306px;
}

#content-window {
    width:255px;
    height:383px;
    vertical-align:top;
    padding:0px;
    margin:0px;
    display:inline-block;
    font-size:0px;
    background-image: url('../img/Background_LightBlue.png');
    
}


.bar {
    font-family: "Bookman Old Style", "Bitstream Charter", "Times New Roman", serif;
    font-size:20px;
    width: 255px;
    height: 30px;
}

#group-title-bar {
    background-image: url('../img/Title_CalendarGroup.png');
}

#group-name {
    padding: 5px;
    width: 200px;
    height: 20px;
    float:left;
}
.dropdown-button {
    size: 55px 24px;
    padding-top: 3px;
}
