body {
    font-family: "Bookman Old Style", "Bitstream Charter", "Times New Roman", serif;
    font-size:20px;
}
#phone-window {
    height:597px;
    width:306px;
}

#content-window {
    width:255px;
    height:383px;
    vertical-align:top;
    padding:0px;
    margin:0px;
    display:inline-block;
    font-size:0px;
    background-image: url('../img/Background_LightBlue.png');
    
}


.bar {
    font-size: 20px;
    width: 255px;
    height: 30px;
    padding-left: 5px;
}

.list-bar {
    font-size: 20px;
    width: 255px;
    height: 20px;
    padding: 5px;
    float:left;
    background-image: url('../img/Background_ListItem.png');
    background-repeat: no-repeat;
}

#group-title-bar {
    background-image: url('../img/Title_CalendarGroup.png');
}

#group-name {
    padding: 5px;
    width: 195px;
    height: 20px;
    float:left;
}
.list-item {
    width: 195px;
    height: 20px;
    float:left;
}
.dropdown-button {
    size: 55px 24px;
    padding-top: 6px;
    padding-right: 5px;
    float:right;
}

.delete-button {
    size: 20px 20px;
    position:relative;
    top:-1px;
    padding-right: 15px;
    float:right;
}
